
.button {       
    padding: 15px 15px 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;   
    border-radius: 8px;
    color: var(--white);
}

.button_primary {   
    background: var(--blue);   
}

.button_primary:hover{    
    background: #2342C0;
    transition: background 200ms ease-in-out;
}

.button:disabled {
    opacity: 0.5;  
    pointer-events: none;
}

.button_secondary {  
    background: var(--purple);    
}

.button_secondary:hover {
    background: #5028C6;
    transition: background 200ms ease-in-out;
}

.button_alternate {        
    border: 1px solid var(--grey-3);
    color: #495057;  
}

.button_alternate:hover {     
    border-color:#212429;
}

