
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 40%;
}

.accordion_details {     
    
    background: var(--white);  
    border: 1px solid var(--grey-3);
    border-radius: 8px; 
    
    padding: 20px;    
}

.accordion_details[open] {   

    background: var(--white);  
    border: 1px solid var(--grey-3);
    border-radius: 8px;     
}    

.accordion_summary::-webkit-details-marker {

    display: none
}

.accordion_summary {

    list-style: none;    
}

.accordion_summary::before {

    content: url('Vector down.png');    
}

.accordion_details[open] .accordion_summary:before {

    content: url('Vector up.png');    

}



