


.accordion__details {  

    max-width: 30%;
    background: var(--white);  
    border: 1px solid var(--grey-3);
    border-radius: 8px; 
    
    padding: 20px;    
}

.accordion__details[open] {   

    background: var(--white);  
    border: 1px solid var(--grey-3);
    border-radius: 8px;     
}    

.accordion_summary::-webkit-details-marker {

    display: none
}

.accordion_summary {

    list-style: none;    
}





