.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 96px 160px 136px 160px;
}

.page__main {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .page {
        max-width: 768px;
        padding: 16px 16px 71px 16px;        
    } 
    .page__main {
        flex-grow: 0;
    }
}