<!DOCTYPE html>

<html lang="ru">
    <head>
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <title>Template</title>
    <body>
        <div class="page page_inner">
            <header class="header header_transparent">
                <div class="container">
                    <h1 class="header__title">Title</h1>
                </div>
            </header>
            <main>
                <div class="container">
                    <div class="card">
                        <div class="card__preview"></div>
                        <div class="card__preview"></div>
                        <div class="card__preview"></div>
                    </div>
                </div>
            </main>
            <footer class="footer">

            </footer>
        </div>

    </body>
</html>
