.checkbox {
    display: inline-block;
    position: relative;
}

.checkbox__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}

.checkbox__state {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.checkbox__control {
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue);
    border-color: var(--blue);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--blue);
    border-color: var(--blue);
    opacity: 0.3;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control .checkbox__icon {
    display: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    opacity: 0.3;
}
