.preview {
    height: 400px;
    background: #f9fafc;
    border-top: 1px solid #dde2e5;
    border-bottom: #dde2e5;
    padding: 67px 0 204px;
}

.preview__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}